In [4]:
print("hello, python full stack student!")

hello, python full stack student!

In [5]:
print("my name is Tanish")

my name is Tanish

In [6]:
print("i am studying in b.com(CA)")

i am studying in b.com(CA)

In [10]:
name = "tanish"
age = 19
gpa = 8.5
is_student = True

In [13]:
print(name, age, gpa, is_student)

tanish 19 8.5 True

In [14]:
name = "manish"
age = 22
gpa = 7.8
is_student = False

In [15]:
print(name, age, gpa, is_student)

manish 22 7.8 False

In [18]:
x = 10
y = 3.14
z = "python"
flag = False

In [19]:
print(type(x), type(y), type(z), type(flag))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

In [30]:
name = "tanish"
collage = "avinsh college of commerce"
favorite_programmig_language = "python"

In [31]:
print(name,  collage, favorite_programmig_language)

tanish avinsh college of commerce python

In [32]:
birth_year = 2006
present_year =2025
age = present_year - birth_year
print("Age:",age)

Age: 19

In [35]:
movie_name = "og"
release_year = 2024
rating = 10

In [38]:
print(type(movie_name), type(release_year), type(rating))

<class 'str'> <class 'int'> <class 'int'>

In [43]:
a = 6
b = 4
print("addition:",a + b)
print("division:",a / b)
print("floor division:",a //b)
print("power:",a ** b)

addition: 10
division: 1.5
floor division: 1
power: 1296

In [47]:
a = 10
b =20
print(a > b) #false
print(a == 10) #true
print((a < b) and (b ==20)) #true

False
True
True

# day 2 
# data structure

In [1]:
fruits = ["apple", "banana", "mango"]

In [2]:
print(fruits)

['apple', 'banana', 'mango']

In [3]:
fruits.append("orange")

In [4]:
print(fruits)

['apple', 'banana', 'mango', 'orange']

In [12]:
name = ["mani", "sunish", "manish"]

In [6]:
print(name)

['mani', 'sunish', 'manish']

In [14]:
name.append("rithvik sai")

In [15]:
print(name)

['mani', 'sunish', 'manish', 'rithvik sai']

In [16]:
fruits.remove("banana")

In [17]:
print(fruits)

['apple', 'mango', 'orange']

In [18]:
colors = ("red", "green", "blue")

In [19]:
print(colors[0])

red

In [23]:
colors[1] = "yellow"

TypeError: 'tuple' object does not support item assignment

In [24]:
num = {1, 2, 3, 4}

In [25]:
print(num)

{1, 2, 3, 4}

In [26]:
num.add(5)

In [27]:
print(num)

{1, 2, 3, 4, 5}

## dictionaries

In [28]:
student = {
    "name": "tanish",
    "age": 22, 
    "course": "python full stack"
}

In [29]:
print(student)

{'name': 'tanish', 'age': 22, 'course': 'python full stack'}

In [31]:
print(student["name"])

tanish

In [32]:
print(student["age"])

22

In [33]:
print(student["course"])

python full stack

In [35]:
student["college"] = "avinash college of commerce"

In [36]:
print(student)

{'name': 'tanish', 'age': 22, 'course': 'python full stack', 'college': 'avinash college of commerce'}

In [37]:
print(student.keys())

dict_keys(['name', 'age', 'course', 'college'])

In [39]:
print(student.values())

dict_values(['tanish', 22, 'python full stack', 'avinash college of commerce'])

In [42]:
marks = 75
if marks >= 90:
    print("Grade:A")
elif marks >= 75:
    print("Grade:B")
elif marks >= 50:
    print("Grade:C")
else:
    print("Grade: fail")

Grade:B

In [45]:

for i in range(1, 6):
    print("number:", i)

number: 1
number: 2
number: 3
number: 4
number: 5

In [50]:
count = 1
while count <= 10:
    print("count:", count)
    count+= 1

count: 1
count: 2
count: 3
count: 4
count: 5
count: 6
count: 7
count: 8
count: 9
count: 10

In [7]:
for i in range(1, 10):
    if i % 5:
        break
    print(i)