In [4]:
print("hello, python full stack student!")

hello, python full stack student!

In [5]:
print("my name is Tanish")

my name is Tanish

In [6]:
print("i am studying in b.com(CA)")

i am studying in b.com(CA)

In [10]:
name = "tanish"
age = 19
gpa = 8.5
is_student = True

In [13]:
print(name, age, gpa, is_student)

tanish 19 8.5 True

In [14]:
name = "manish"
age = 22
gpa = 7.8
is_student = False

In [15]:
print(name, age, gpa, is_student)

manish 22 7.8 False

In [18]:
x = 10
y = 3.14
z = "python"
flag = False

In [19]:
print(type(x), type(y), type(z), type(flag))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

In [30]:
name = "tanish"
collage = "avinsh college of commerce"
favorite_programmig_language = "python"

In [31]:
print(name,  collage, favorite_programmig_language)

tanish avinsh college of commerce python

In [32]:
birth_year = 2006
present_year =2025
age = present_year - birth_year
print("Age:",age)

Age: 19

In [35]:
movie_name = "og"
release_year = 2024
rating = 10

In [38]:
print(type(movie_name), type(release_year), type(rating))

<class 'str'> <class 'int'> <class 'int'>

In [43]:
a = 6
b = 4
print("addition:",a + b)
print("division:",a / b)
print("floor division:",a //b)
print("power:",a ** b)

addition: 10
division: 1.5
floor division: 1
power: 1296

In [47]:
a = 10
b =20
print(a > b) #false
print(a == 10) #true
print((a < b) and (b ==20)) #true

False
True
True